* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 800px;
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

nav {
  width: 80%;
  height: 100px;

  display: flex;
  /* gap:665px; */
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.logo {
  width: 120px;
  height: 43px;
  cursor: pointer;
}
nav ul li {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.main-bottom-sec {
  width: 100%;
  height: 680px;
}

.img1 {
  position: absolute;
  height: 680px;
  right: 3.06%;
  top: calc(50% - 680px / 2 + 60px);
}
.icon1 {
  position: absolute;
  left: 50%;

  top: 91.25%;
  /* bottom: 0%; */
}

.momentum h1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
  position: absolute;
  height: 80px;
  left: 10%;
  /* right: 60.07%; */
  top: 37.25%;
  margin-bottom: px;
}

.momentum h2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  position: absolute;
  height: 44px;
  left: 10%;
  /* right: 42.99%; */
  top: 51.75%;
}

.button {
  background: #fc0a7e;
  border-radius: 3px;
  border: none;
  position: absolute;
  width: 170px;
  height: 66px;
  left: 10%;
  top: 63.75%;
}
.btn-a {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
/* Second Section */
.second-sec {
  width: 100%;
  height: 957px;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: end;
  gap: 55px;
}
.second-sec-top {
  width: 700px;
  height: 221px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.txt-gray {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* text-align: center; */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a8a8a8;
}
.title1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  /* text-align: center; */
  color: #ffffff;
}
/* 3rd section */
.big-container {
  width: 100%;
  height: 4739.73px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  gap: 160px;
  /* align-items: center; */
  text-align: center;
  padding-top: 80px;
}
/* Continer-1 */
.container {
  width: 90%;
  height: 637px;
  background-color: white;
  margin-left: 5%;
  display: flex;
  justify-content: center;
}
.black {
  color: black;
}
.text-box {
  height: 261px;
  width: 31.25%;
  display: flex;
  flex-direction: column;
  padding-left: 58px;
  text-align: left;
  gap: 30px;
  align-self: center;
}
.paragraph1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6b6b6b;
  margin-top: -8px;
  /* width:38.76%; */
}
/* .pd-86 {
      padding-right:86px;
}

.pd-90 {
     padding-right:90px;
} */
.image-box {
  width: 38.75%;
  height: 637px;
  justify-content: center;
}
/* .mgt-80 {
  margin-top: 80px;
} */
.reverse {
  flex-direction: row-reverse;
}

.h-change-cont1 {
  height: 469px;
}
.h-change-cont2 {
  height: 508px;
}
.h-change-cont6 {
  height: 414px;
}

/* Container4 */
.container2 {
  width: 90%;
  height: 209px;
  background-color: white;
  margin-left: 5%;
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top:-80px; */
}
.menu-box1 {
  width: 30%;
  height: 209px;
}
.title2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.mg-group {
  margin-top: 40.32px;
  margin-bottom: 17px;
}
.mg-para {
  margin: 0 30px 0 31px;
}
.container3 {
  width: 90%;
  height: 134px;
  background-color: white;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top:-80px; */
}
.tx1 {
  width: 22.5%;
  height: 134px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title3 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 90px;
  text-align: center;
  color: #333333;
}
.font-weight {
  font-weight: 400;
}

.text-box-mod {
  height: 381px;
  width: 31.25%;
  display: flex;
  flex-direction: column;
  padding-left: 58px;
  text-align: left;
  gap: 30px;
  align-self: center;
}
.mg-20 {
  margin-right: 20px;
}
.pd-62 {
  padding-right: 62px;
}
.pd-23 {
  padding-top: 62px;
}

/* Container 8 */
.container4 {
  width: 90%;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 65.86px;
  background-color: white;
  align-self: center;
}
.quote-box {
  width: 50%;
  height: 374.14px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-self: center;
  text-align: center;
}
.paragraph2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #6b6b6b;
}
.font-weight2 {
  font-weight: 700;
}
.newspaper {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.quote-image {
  width: 58.03px;
  height: 48.62px;
  align-self: center;
}
.mg-65 {
  margin-top: 65.57px;
}
.mg-17 {
  margin-top: 17px;
}
/* Section 9 */
.container5 {
    width: 90%;
  height: 480px;
  display: flex;
  background-color: white;
  align-self: center;
  justify-content: center;
}
.img-resize {
    width:70%;
    height: 35px;
      align-self: center;
   
}